@import '~antd/dist/antd.css';

.main-wrapper{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper{
  border: 1px solid #cecece;
  padding: 4rem 2rem;
}

.form-wrapper footer{
  display: flex;
  justify-content: flex-end;
}

.form-wrapper button + button{
  margin-left: 1rem;
}

.ant-spin-dot-item{
  //background-color: #fff !important;
}

.form-wrapper header{
  display: flex;
  justify-content: center;
}